.mypy_cache/3.10/
airflow/video/
python_and_pattern/decorator/__pycache__/
interesting_libraries/feaches/rezult_yotube/
interesting_libraries/feaches/rezult_youtube/data_analisis/
.mypy_cache/missing_stubs
