.mypy_cache/3.10/
airflow/video/
python_and_pattern/decorator/__pycache__/
interesting_libraries/feaches/rezult_yotube/
interesting_libraries/feaches/rezult_youtube/data_analisis/
.mypy_cache/missing_stubs
interesting_materials/feaches/rezult_youtube/data_analisis/
interesting_materials/feaches/rezult_yotube/
.venv/
usefull_librery/fastapi/__pycache__/
interesting_materials/feaches/proba_youtube/rezult_yotube/
interesting_materials/feaches/proba_youtube/timedtext
interesting_materials/feaches/proba_youtube/timedtext0nrowl6c.tmp
interesting_materials/feaches/proba_youtube/timedtext1qbmf6w_.tmp
interesting_materials/feaches/proba_youtube/timedtextjlsbpfqa.tmp
interesting_materials/feaches/proba_youtube/Ease With Data/05 Understand Spark Session & Create your First DataFrame  Create SparkSession object  Spark UI.mp4
interesting_materials/feaches/proba_youtube/Minutes of Zen/GratitangleZ 2024 - Beginner Zentangle® - Day 25 - Inapod.mp4
interesting_materials/feaches/proba_youtube/NBC RUS/Андрей Скоромный. Откровенное интервью. Скандальное видео семья. ПроКач Подкаст.mp4
interesting_materials/feaches/proba_youtube/__pycache__/config_gog.cpython-312.pyc
interesting_materials/feaches/proba_youtube/client_secret.json
interesting_materials/feaches/proba_youtube/build_samself.ipynb
interesting_materials/feaches/proba_youtube/config_gog.py
interesting_materials/feaches/separete_audio_from_video/output_audio.mp3
